@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Rubik;
}
.topbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 35vh;
}
.topbar h1{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
.topbar form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.topbar input{
    padding: 10px 20px;
    max-width: 350px;
    width: 100%;
    border-radius: 10px 0 0 10px;
    border: 0;
}
.topbar input::placeholder{
    color: rgba(128, 128, 128, 0.562);
    font-family: Rubik;
}
.topbar input:focus{
    outline: 0;
}
.topbar button{
    border: 0;
    background-color: black;
    color: white;
    width: 40px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.informationbar{
    margin-top: 25px;
    z-index: 10;
    display: flex;
    gap: 20px;
    background-color: white;
    max-width: 750px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.116);
    flex-wrap: wrap;
}
.informationbar div{
    flex: 1 1 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px 0 0;
    border-right: 1px solid rgba(128, 128, 128, 0.192);
}
.informationbar div h6{
    color: rgba(156, 146, 146, 0.582);
    font-size: 10px;
}
.informationbar div p{
    font-size: 20px;
    font-weight: 500;
}
.informationbar .info-last{
    border: 0;
}
#map{
    max-width: 100vw;
    min-height: 70vh;
    z-index: 0;
}

@media screen and (max-width: 760px) {
    .informationbar .info-last{
        border-right: 1px solid rgba(128, 128, 128, 0.192);
    }
}
@media screen and (max-width: 415px) {
    .informationbar div{
        border-right: 0;
    }
    .informationbar{
        text-align: center;
    }
}